body {
    margin: 0;
}

.available_section {
    position: relative;
    background-image: url('./images/avail_img.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.income,
.expences {
    display: flex;
    padding: 10px;
    align-items: center;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000070;
    z-index: 0;
}

.available_content {
    z-index: 1;
    min-width: 350px;
    text-align: center;
    padding-block: 30px;
}

.available_content>* {
    margin-block: 10px;
}

div#amount {
    text-align: center;
    font-size: 3rem;
}

#income_text,
#expences_text {
    flex: 3;
    text-align: left;
    text-transform: uppercase;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
}

#income_value,
#expences_value {
    flex: 2;
    text-align: right;
}

#income_rate,
#expences_rate {
    flex: 1;
    text-align: right;
}

.income {
    background: #32A5A1;
    box-shadow: 0 0 10px 0 #32a5a2;
}

.expences {
    background: #F63237;
    box-shadow: 0 0 10px 0 #f73237;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.secondSection {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
    gap: 15px;
    padding-block: 10px;
}

.selectedPlusMinus {
    height: 37px;
    width: 50px;
    padding: 5px 5px 5px 10px;

    appearance: none;
    background-image: url('./images/select-arrows.svg');
    background-repeat: no-repeat;
    background-position: right 0.5rem top 50%;
    background-size: 0.65rem auto;

}

.description {
    width: 300px;
    height: 40px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;

}


.value {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding: 5px 5px 5px 10px;
}

.checkButton {
    width: 50px;
    height: 34px;
    background-color: rgb(227, 227, 227);
    border-style: none;

}

.fa-regular {
    font-size: 30px;
}

.thirdSection {
    display: flex;
    padding: 20px;
    justify-content: center;
    max-width: 800px;
    margin: auto;

}

.leftDiv {
    width: 50%;
    padding: 50px;
    padding: 15px 10px 0 10px;

}

.rightDiv {
    width: 50%;
    padding: 15px 10px 0 10px;
}



.incomeH1 {
    color: #32A5A1;
    padding: 5px;
    border-bottom: 1px solid;
    font-size: large;



}

.expensesH1 {
    color: #F63237;
    padding: 5px;
    border-bottom: 1px solid;
    font-size: large;

}

.headerH2 {
    font-size: large;
    font-weight: 700;
    display: flex;
    flex: 1;
    margin: 10px;

}

.rowWrapper {
    display: flex;

}

.precentage {
    display: flex;
    margin: 10px;
    background-color: #ffa5a8;
    border-radius: 5px;
    padding: 3px;
    font-size: small;
}

.money {
    padding-left: 30px;
    display: flex;
    margin: 10px;


}

.moneyIncome {
    color: green
}

.moneyExpenses {
    color: red;
}